<div class="modal-image">

    <div class="modal-image-card">

        <div class="modal-image-header">
            <input type="search" name="search" id="search" placeholder="Cari gambar ..." autocomplete="false">
            <i class="material-icons">close</i>
        </div>
        <!-- MAPPING AREA -->
        <div class="modal-image-body">

        </div>
        <!-- END MAPPING AREA -->

        <div class="modal-image-footer">
            <button class="btn-select">Select</button>
            <button class="btn-cancel">Cancel</button>
        </div>

    </div>

</div>