<main class="container-fluid dashboard">

    <div class="side-menu">

        <div class="side-menu-title">
            Undangan Editor
        </div>

        <form action="/view" class="side-menu-editor" method="post">
        
            <div class="form-group">
                <label for="mempelai_pria">Nama Mempelai Pria</label>
                <input type="text" name="mempelai_pria" id="mempelai_pria" required>
            </div>

            <div class="form-group">
                <label for="mempelai_wanita">Nama Mempelai Wanita</label>
                <input type="text" name="mempelai_wanita" id="mempelai_wanita" required>
            </div>

            <div class="form-group">
                <label for="tanggal_akad">Tanggal Akad</label>
                <input type="datetime-local" name="tanggal_akad" id="tanggal_akad" required>
            </div>

            <div class="form-group">
                <label for="tanggal_resepsi">Tanggal Resepsi</label>
                <input type="datetime-local" name="tanggal_resepsi" id="tanggal_resepsi" required>
            </div>

            <div class="form-group">
                <label for="lokasi">Lokasi</label>
                <input type="text" name="lokasi" id="lokasi" placeholder="Paste lokasi Google Maps" required>
                <button>Cari Lokasi</button>
            </div>

            <div class="form-group">
                <label for="pesan">Pesan Pernikahan</label>
                <textarea name="pesan" id="pesan" cols="30" rows="10"></textarea>
            </div>

            <div class="form-group">
                <label for="font">Pilih Font:</label>
                <select name="font" id="font">
                    <option value="">Helvetica</option>
                    <option value="">Montserrat</option>
                    <option value="">Arial</option>
                    <option value="">Raleway</option>
                </select>
            </div>

            <div class="form-group">
                <label for="background">Pilih Background</label>
                <select name="background" id="background">
                    <option value="">
                        <img src="https://picsum.photos/seed/13/200" alt="image-01">
                    </option>

                    <option value="">
                        <img src="https://picsum.photos/seed/15/200" alt="image-02">
                    </option>

                    <option value="">
                        <img src="https://picsum.photos/seed/16/200" alt="image-03">
                    </option>
                </select>
            </div>

            <button class="editor-save" type="submit">Save</button>

        </form>

    </div>

    <section class="live_view">

    </section>

</main>