<main class="container-fluid flex-center">

    <div class="content-center flex-center">

        <h1 class="mempelai_name">
            Kondangan App
        </h1>
        <p class="main_text">
            Buat undangan online gratis...
        </p>

        <a href="/register">
            <button class="main_button">
                Daftar Sekarang
            </button>
        </a>
        
    </div>

    <img src="https://images.pexels.com/photos/372225/pexels-photo-372225.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" 
    alt="background image" class="main_background">

</main>