<main class="container-fluid register">

    <div class="register-left">
        <h1 class="register-title">
            Undangan online gratis
        </h1>
        <p class="register-text">
            Buat undangan onlinemu di sini
        </p>

    </div>

    <div class="register-right">

        <form action="/register" class="register-form" method="POST">
        
            <h3 class="register-form-text">Register</h3>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="emaik" id="email" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" required id="email">
            </div>

            <div class="form-group">
                <label for="password2">Password</label>
                <input type="password" name="password2" required id="email">
            </div>

            <button type="button">Register</button>


        
        </form>
    </div>

</main>